<link rel="stylesheet" href="/plugin/prism/prism.css">
<script src="/plugin/prism/prism.js"></script>
<link rel="stylesheet" href="/plugin/vditor/dist/index.css"/>
<script src="/plugin/vditor/dist/index.min.js" defer></script>
<div class="row gf-content">
    <div class="col-md-9">
        <div class="gf-content-show">

            <h2 class="gf-title">
                {{.Data.Cnnvd.Name}}
            </h2>
            <div class="gf-content markdown-body">CNNVD编号：{{.Data.Cnnvd.Id}}</div>
            <div class="gf-content markdown-body">CVE编号：{{.Data.Cnnvd.CveId}}</div>
            <div class="gf-content markdown-body">收录时间：{{.Data.Cnnvd.Published}}</div>
            <div class="gf-content markdown-body">更新时间：{{.Data.Cnnvd.Modified}}</div>
            <div class="gf-content markdown-body">危害等级：{{.Data.Cnnvd.Severity}}</div>
            <div class="gf-content markdown-body">漏洞类型：{{.Data.Cnnvd.VulnType}}</div>
            <div class="gf-content markdown-body">漏洞简介：{{.Data.Cnnvd.Description}}</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="gf-content-user">
            <div>
                <a href="/user/1">
                    <img class="gf-content-user-img image-border circle-image topic-list-author-avatar"
                         src="https://i.loli.net/2020/06/13/4XaPUnEjpeVGfzt.jpg">
                </a>
            </div>
            <div class="gf-user-detail">
                <h3>
                    <a href="/user/1">
                        福尔摩狼
                    </a>
                    <span class="icon iconfont"> </span>
                </h3>
            </div>
        </div>
        <div class="card gf-card gf-content-toc sticky-top" style="display: none;">
            <div class="card-header"><span class="icon iconfont">&#xe647;</span> 内容目录</div>
            <div id="gf-content-toc"></div>
        </div>

        {{include "index/index/page_link.html" .}}
    </div>
</div>
<script type="application/javascript">

    $(function () {
        
    });
</script>
