<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script>

<form class="form-inline" style="padding-top: 10px;">
    <div class="row">
        <div class="col">
            <input type="text" id="Id" value="{{.Data.Id}}" class="form-control w-auto" placeholder="请输入漏洞编码">
        </div>
        <div class="col">
            <input type="text" id="Name" value="{{.Data.Name}}"class="form-control w-auto" placeholder="请输入漏洞名称">
        </div>
        <div class="col">
            <input type="text" id="Severity" value="{{.Data.Severity}}" class="form-control w-auto" placeholder="请输入危害等级">
        </div>

        <button type="button"  id="btn-search" class="btn btn-primary btn-sm">查询</button>&nbsp;
        <button type="button"  id="btn-all" class="btn btn-info btn-sm">全部</button>
    </div>
</form>
<div style="padding: 15px;">


    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">CNNVD编号</th>
                <th scope="col">CVE编号</th>
                <th scope="col">漏洞名称</th>
                <th scope="col">漏洞类型</th>
                <th scope="col">危害等级</th>
                <th scope="col">更新时间</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $item := .Data.List}}
            <tr>
                <th scope="row">{{$item.Cnnvd.CveId}}</th>
                <td>{{$item.Cnnvd.Id}}</td>
                <td>{{$item.Cnnvd.Name}}</td>
                <td>{{$item.Cnnvd.VulnType}}</td>
                <td>{{$item.Cnnvd.Severity}}</td>
                <td>{{$item.Cnnvd.Modified}}</td>
                <td>详情</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <!--分页-->
    {{if gt .Data.Total .Data.Size}}
    <ul class="pagination">
        {{.BuildIn.Page .Data.Total .Data.Size }}
    </ul>
    {{end}}
</div>

<script>
    //page-link
    $('#btn-search').click(function (){
        var Id = $('#Id').val();
        var Name = $('#Name').val();
        var Severity = $('#Severity').val();
        var pageNum = 1;

        location.href="/cnnvd?page="+pageNum+"&Id="+Id+"&Name="+Name+"&Severity="+Severity
    })

    $('#btn-all').click(function (){
        var Id = "";
        var Name = "";
        var Severity = "";
        var pageNum = 1;

        $('#Id').val(Id);
        $('#Name').val(Name);
        $('#Severity').val(Severity);

        location.href="/cnnvd?page="+pageNum+"&Id="+Id+"&Name="+Name+"&Severity="+Severity
    })


    $(document).on('click', '.page-link', function(event) {
        var Id = $('#Id').val();
        var Name = $('#Name').val();
        var Severity = $('#Severity').val();

        var clickedElement = $(this);
        var pageNum = clickedElement.text();
        clickedElement.attr("href","/cnnvd?page="+pageNum+"&Id="+Id+"&Name="+Name+"&Severity="+Severity)
    });

</script>

</body>
</html>